@model QLTL_V2.Models.CustomerType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CustomerType</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">CreatedTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedTime)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CustomerTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
