@model MvcExamples.Models.Store

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Store</legend>

    <div class="display-label">Product</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Product.Name)
    </div>

    <div class="display-label">ProductUnit</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductUnit.Name)
    </div>

    <div class="display-label">Amount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.StoreId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
