@model IEnumerable<QLTL_V2.Models.Customer>
<div>
<table>@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerType.Name)
        </td>
        <td>
           
        <div id="link_icon">
        <a href="@Url.Action("Edit", "Customer", new { id = @item.CustomerId })"> <img src="../../Content/Images/edit-icon.png " height="25px" width="25px"/></a> 
        <a href="@Url.Action("Details", "Customer", new { id = @item.CustomerId })"><img src="../../Content/Images/detail-icon.png" height="25px" width="25px" /></a> 
        <a href="@Url.Action("FirstCreate", "Order", new { id = @item.CustomerId })"><img src="../../Content/Images/order-icon.png" height="25px" width="25px"/></a> 

        </div>

          @*  @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.CustomerId }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id=item.CustomerId }) |
         
            @Html.ActionLink("Tạo Hóa Đơn Bán Hàng", "FirstCreate", "Order", new { id = item.CustomerId }, null) *@
        </td>
    </tr>
}
</table>
</div>