@model QLTL_V2.Models.Customer

@{
    ViewBag.Title = "Xóa Khách Hàng";
}

<h2>@ViewBag.Title </h2>

<h3>Bạn có muốn xóa khách hàng này? </h3>
<fieldset>
    <legend>Customer</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    
    <div class="display-label">PhoneNo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNo)
    </div>

    

    

    <div class="display-label">CreatedTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedTime)
    </div>

    <div class="display-label">CustomerType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerType.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
