@model QLTL_V2.Models.Customer

@{
    ViewBag.Title = "Thông Tin Khách Hàng Chi Tiết";
}

<h2>Thông Tin Khách Hàng Chi Tiết</h2>

<fieldset>
    <legend>Thông Tin Khách Hàng</legend>

    <div class="display-label">Tên:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Địa Chỉ:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    
    <div class="display-label">Số ĐT:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNo)
    </div>

    
    
    <div class="display-label">Thời Gian:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedTime)
    </div>

    <div class="display-label">Loại Khách Hàng:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerType.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id=Model.CustomerId }) |
    @Html.ActionLink("Danh Sách Khách Hàng", "Index")
</p>
