@model QLTL_V2.Models.Customer

@{
    ViewBag.Title = "Thông Tin Khách Hàng Chi Tiết";
}

<h2>Thông Tin Khách Hàng Chi Tiết</h2>

<fieldset>
    <legend>Thông Tin Khách Hàng</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    
    <div class="display-label">PhoneNo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNo)
    </div>

    
    
    <div class="display-label">CreatedTime</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedTime)
    </div>

    <div class="display-label">CustomerType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerType.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id=Model.CustomerId }) |
    @Html.ActionLink("Danh Sách Khách Hàng", "Index")
</p>
