@model IEnumerable<QLTL_V2.Models.Customer>

<h2>Khách Hàng</h2>

<a href="@Url.Action("About", "Home")">
	<img src="../../Content/Images/NewIcon.gif" align="bottom"  />abc</a> 


<p>
    @Html.ActionLink("Tạo KH Mới", "Create", null, new { style = "background: url('../../Content/Images/NewIcon.gif') no-repeat center right;text-align:botton;display:block; height:60px; width:60px;margin-top:-2px;text-decoration:underline;" })
</p>



@using (Html.BeginForm())
{
    <p>
        Tìm Theo Tên: @Html.TextBox("SearchString") &nbsp;
        <input type="submit" value="Tìm" /></p>
}
<table>
    <tr>
        <th>
            @Html.ActionLink("Tên", "Index", new { sortOrder=ViewBag.NameSortParm })
        </th>
        <th>
            Địa Chỉ
        </th>
       
        <th>
            PhoneNo
        </th>
        <th>
            @Html.ActionLink("Loại Khách Hàng", "Index", new { sortOrder=ViewBag.NameSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerType.Name)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.CustomerId }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id=item.CustomerId }) |
         
            @Html.ActionLink("Tạo Hóa Đơn Bán Hàng", "FirstCreate", "Order", new { id = item.CustomerId }, null)
        </td>
    </tr>
}

</table>
