@model MvcExamples.Models.OrderDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>OrderDetail</legend>

    <div class="display-label">Product</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Product.Code)
    </div>

    <div class="display-label">ProductUnit</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductUnit.Name)
    </div>

    <div class="display-label">Order</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.Name)
    </div>

    <div class="display-label">Amount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">TotalDetailAmount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalDetailAmount)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.OrderDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
