@model IEnumerable<QLTL_V2.Models.OrderDetail>

<div id="error"> 
@ViewBag.ErrMsg
</div>           

<table>
    <tr>
        <th>
            Tên Mặt Hàng
        </th>
        <th>
            Đơn Vị
        </th>
        
        <th>
            Số Lượng
        </th>
        <th>
            Đơn Giá
        </th>
        <th>
            Thành Tiền
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductUnit.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalDetailAmount)
        </td>
        <td>            
            @Ajax.ActionLink("Xóa","RemoveItem",new {id = item.OrderDetailId},new AjaxOptions{
                UpdateTargetId="ItemDetais",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET"
            
       })
            
        </td>
    </tr>
}

</table>
